{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a form for MAIT ">
    <meta name="robots" content="INDEX, FOLLOW">
    <title>Form with copy of responses</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>

<body>
    <div class="card">
        <div class="centered">
            <h1 class="input-label-main">Enter Your Details Here</h1>
        </div>
        <form action="/index/" class="card-form" method="post">
            {% csrf_token %}
            <div class="input">
                <input type="text" class="input-field" name="name" value=""
                    required />
                <label class="input-label">Full Name</label>
            </div>
            <div class="input">
                <input type="text" class="input-field" id="mobilenumber" name="phone"
                    required />
                <label class="input-label">Mobile Number</label>
            </div>
            <div class="input">
                <input type="email" class="input-field" name="email" value="" required />
                <label class="input-label">Email Address</label>
            </div>
            <div class="action">
                <input class="action-button" type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>